* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin-inline: auto;
}
.tracker {
  border: 2px solid #80808045;
  padding: 1rem;
  min-height: 100vh;
  background-color: rgba(255, 0, 0, 0.23);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.btn {
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
}
.addBtn {
  background-color: #668920;
  color: #fff;
}
.closeBtn {
  background-color: #f22c2c;
  color: #fff;
}

.task-list {
  background-color: #908e8e46;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.icon-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reminder {
  border-left: 2px solid green;
}
/* add form */
.btn-block {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem 0;
  border: none;
  border-radius: 5px;
}
.add-form {
  margin-bottom: 2rem;
}
.form-control {
  margin-bottom: 1.5rem;
}
input[type="checkbox"] {
  /* visibility: hidden; */
  width: 50px;
  height: 20px;
}

.input-tag {
  display: block;
  width: 100%;
  padding: 0.7rem 0;
  border-radius: 5px;
  outline: none;
  /* border-bottom: none; */
  margin-top: 0.3rem;
  background: none;
  font-size: 1.2rem;
}
.input-tag::placeholder {
  padding-left: 0.7rem;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
